/* reset et base */
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #fffaf4;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  margin: 0;
  color: #333;
}
.container {
  border-radius: 12px;
  padding: 30px 20px;
  text-align: center;
}
.container-thankyou {
  max-width: 500px;
  margin: 0 auto;
  background: #fff8e1;
  padding: 40px 30px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  position: relative;
}
.logo {
  max-width: 150px;
}

h1 {
  color: #222;
  font-size: 1.8rem;
  margin-bottom: 12px;
}

.download-link {
  display: inline-block;
  background-color: #ff4c4c; /* rouge vif */
  color: white;
  font-weight: 600;
  padding: 14px 28px;
  border-radius: 30px;
  text-decoration: none;
  font-size: 1.2rem;
  box-shadow: 0 6px 12px rgba(255, 76, 76, 0.4);
  transition: background-color 0.3s ease;
  margin: 20px 0px 25px;
}

.download-link:hover {
  background-color: #e04343;
}

.support {
  font-size: 0.9rem;
  color: #333;
  margin-top: 30px;
}

.support a {
  color: #007acc; /* bleu vif */
  text-decoration: none;
  font-weight: 600;
}

.support a:hover {
  text-decoration: underline;
}

.return-home {
  display: inline-block;
  margin: 20px 0px 0px 30px;
  padding: 8px 16px;
  background-color: #ffe7c2;
  color: #333;
  font-weight: 600;
  text-decoration: none;
  border-radius: 20px;
  border: 2px solid #ffc488;
  transition: background-color 0.3s;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.return-home:hover {
  background-color: #ffd199;
}
