<!doctype html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Page produit coloriage</title>
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />
    <link rel="stylesheet" href="/css/product.css" />
    <link rel="stylesheet" href="/css/includes.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/lite-youtube-embed@0.2.0/src/lite-yt-embed.css"
    />
  </head>
  <body>
    <div id="header-container"></div>
    <div id="product-container" class="product-container">
      <!-- Contenu dynamique injecté ici -->
    </div>
    <div id="footer-container"></div>

    <script>
      document.addEventListener('contextmenu', e => e.preventDefault());
      document.addEventListener('dragstart', e => e.preventDefault());
    </script>
    <script
      src="https://cdn.jsdelivr.net/npm/lite-youtube-embed@0.2.0/src/lite-yt-embed.js"
      defer
    ></script>
    <script src="/js/includes.js"></script>
    <script type="module" src="/js/data.js"></script>
    <script type="module" src="/js/product.js"></script>
  </body>
</html>
