<!doctype html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Merci pour votre achat !</title>
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />
    <link rel="stylesheet" href="/css/thankyou.css" />
    <link rel="stylesheet" href="/css/includes.css" />
  </head>
  <body>
    <div id="header-container"></div>
    <a href="/index.html" class="return-home">← Retour à l'accueil</a>
    <div class="container">
      <div class="container-thankyou">
        <img src="../images/logo.png" alt="Logo Histoire Rêves et Merveilles" class="logo" />

        <h1>Merci pour votre achat ! 🎉</h1>

        <p class="intro">
          Votre paiement a bien été reçu. Nous sommes ravis de vous compter parmi nos clients !
        </p>

        <p class="instructions">
          Pour télécharger votre pack de coloriages, <br /><strong
            >cliquez sur le lien ci-dessous</strong
          >.
        </p>
        <div class="download-section">
          <a id="downloadLink" href="#" target="_blank" class="download-link" download>
            Télécharger mon pack de coloriages
          </a>
        </div>

        <p class="support">
          Oups… ce lien ne semble pas fonctionner correctement. 😟<br /><br />
          Il est possible que le lien ait expiré ou qu’il soit incorrect.<br />
          Si vous pensez qu’il s’agit d’une erreur, n’hésitez pas à nous écrire à
          <a href="mailto:histoirerevesetmerveilles@gmail.com"
            >histoirerevesetmerveilles@gmail.com</a
          >,<br />
          nous serons ravis de vous aider rapidement. 💌
        </p>
      </div>
    </div>
    <div id="footer-container"></div>

    <script src="/js/includes.js"></script>
    <script src="/js/thankyou.js"></script>
  </body>
</html>
